[2014-04-01 13:07] dennisdornon opened #1 "Child Backup not using tags"
The backup being sent to the child site when a full backup is made is not using the structure tags %sitename%, %url%, %date%, %time%, %type%

[2014-04-03 15:36] bogdan-mainwp opened #2 "Plugin/Themes Widget"
Widgets only show 5 plugin/themes. We need them to show all of them

[2014-04-12 00:38] dennisdornon opened #3 "Star Rating not showing on Dashboard site plugin search"
Star rating not showing on plugin search for the actual Dashboard site (/wp-admin/plugin-install.php)

The ratings show up fine when searching for a plugin to install on the child sites (/wp-admin/admin.php?page=PluginsInstall)

[2014-04-27 17:07] #3 closed, assigned to ruben-

[2014-04-29 18:09] #1 closed, assigned to ruben-

[2014-05-03 16:11] talss89 opened #4 "MainWP CSS affects WP core CSS"
Not a big issue, but:

mainwp.css:151

[code]

This changes the horz position of the main content area in wp-admin. Not sure this is the right way to go, as it breaks full WP upgrade path support.

If I fork and submit a pull request, would you accept some CSS fix ups?

[2014-05-06 19:06] #4 closed, assigned to nobody

[2014-05-15 17:35] #2 closed, assigned to thanghv

[2014-07-26 20:52] chris7878 opened #7 "Sync on Dashboard not working"
The sync button on the dash is not working, the button in the footer seems to work fine.  WP and Main are up to date.  Only Main Extensions are installed, and running 2013 theme.

[2014-09-24 13:27] citidm opened #8 "Plugin Conflict"
I just noticed a conflict with the Gravity Forms Plugin. When MainWP is activated, editing a form is not possible, when I deactivate MainWP, I am then able to edit the Form. I was wondering if there is a workaround or solution to this?

[2014-09-24 16:33] #7 closed, assigned to ruben-

[2014-11-10 00:13] imknight opened #9 "conflict with MandrillApp again"
saw it fixed on the changelog but I still seeing the same conflict.

Mandrill: wp_mail has been declared by another process or plugin, so you won't be able to use Mandrill until the problem is solved.

[2015-01-21 17:03] lkraav opened #10 "warnings and notices on multisite plugin upload screen"
https://yourmultisite.com/wp-admin/network/plugin-install.php?tab=upload

    WARNING: wp-content/plugins/mainwp/page/MainWPAPISettings.page.php:200 - Illegal string offset 'slugs'
    require('wp-admin/plugin-install.php'), include('wp-admin/admin-header.php'), do_action('in_admin_header'), call_user_func_array, wp_admin_bar_render, do_action_ref_array, call_user_func_array, wp_admin_bar_updates_

[2015-01-21 17:16] dennisdornon commented on #9
Fixed in current version 2.0.6

[2015-01-21 17:16] #9 closed

[2015-01-21 17:17] #8 closed

[2015-04-10 05:15] lkraav opened #12 ""Plugin Automatic Update Trust List" search only searches through paging-visible plugins"
2.0.10

When loading https://site.com/wp-admin/admin.php?page=PluginsAutoUpdate and the plugin list is empty, the search box will not find anything.

The only option to work with the screen is to maximize the paging to 40 items and manually find the plugin you want to adjust.

[2015-04-10 18:10] dennisdornon commented on #12
That's not something I am able reproduce on any of our test sites.  When I run a search for a specific plugin when no plugins are listed yet it returns just the plugin I was looking for.

Do you have a example search query you were using?

[2015-04-10 18:58] lkraav commented on #12
Perhaps it's relevant this is happening on multisite installation, and the dashboard is installed on the master site (ID 1)

[2015-04-10 21:11] dennisdornon commented on #12
I don't believe that should matter but if you want to open a ticket in the [MainWP Support Portal](http://support.mainwp.com/support/home) I'll be happy to take a look.

[2015-04-28 22:15] JosefJezek opened #13 "Reconnect issue"
I can't reconnect to child when child after deactivate-activate have new Security ID. I set new id.

[2015-04-29 17:56] dennisdornon commented on #13
Please try the steps below to clear everything out of MainWP and then re-add.  If that doesn't help please open a ticket at the [MainWP Support Portal](http://support.mainwp.com)

Step 1.  Delete the Child site from your MainWP Dashboard
Step 2.  Disable the Child Plugin on Child Site
Step 3.  With the Child disabled try to re-add the Child site to the Dashboard (You should get an error that no Ma

[2015-05-14 06:22] ctalkington opened #14 "database query audit"
ive been using mainwp for sometime and one thing that bugs me as a developer is the amount of queries that it runs on every load; some are get_option which being that mainwp is meant to be run on its own install can be set as `autoload` but aren't so instead we go out to the database 10+ times to get these.

I have a few examples of just how out of control the queries are; mainly taken from the ma

[2015-05-15 21:01] dennisdornon commented on #14
Thanks we are reviewing that for the next update.

[2015-05-15 21:04] khromov commented on #14
Adding a few from this thread:
https://wordpress.org/support/topic/performance-issues-10

[code]

[2015-05-23 11:20] rtpHarry opened #15 "Encoding mistake in single plugin update modal"
I noticed when I updated a single plugin in the mainwp admin panel that has spaces in it they are displayed still encoded as +

![image](https://cloud.githubusercontent.com/assets/1038062/7783780/1b0b0e7a-0146-11e5-8392-8b0daad8b973.png)

[2015-06-08 23:42] lkraav opened #16 "wp-cli-0.19.1: Undefined index: pagenow in wp-includes/link-template.php"
The most basic wp-cli info command (and all others) cause this notice. Perhaps MainWP should check whether it's actually being loaded in /wp-admin/ before running its logic, since it may not be relevant when loaded over command line. global $pagenow is listed here https://codex.wordpress.org/Global_Variables#Admin_Globals

[code]

[2015-06-10 21:23] ctalkington opened #17 "admin scripts and styles should be enqueued"
there is quite a bit of raw script and styles output going on in the admin. these should use the proper enqueue methods offered by WordPress.

using such enqueue methods offers the ability to append version string which helps with cache busting. the need for this becomes apparent when the ui blows up after upgrades until you force clear cache.

https://developer.wordpress.org/reference/hooks/admin

[2015-06-10 22:16] ctalkington commented on #17
see #18. closing this out in favor of PR.

[2015-06-10 22:16] #17 closed

[2015-06-10 22:28] ctalkington commented on #15
ive also noticed this.

[2015-06-11 05:51] ruben- commented on #17
I've modified this in the past, but we noticed a lot of issues with the
order the JS was included so we rolled back to this. The only fix then was
to add the real script tags. We will retest your commit to see if
everything works on the newer versions of WP with the enqueue_scripts.

On Thu, Jun 11, 2015 at 12:16 AM, Chris Talkington <notifications@github.com

[2015-08-16 21:11] szepeviktor commented on #16
Similar: https://github.com/wp-cli/wp-cli/issues/1983

[2015-09-17 09:32] tersmitten opened #20 "PHP error(s)"
I don't know if it's really a problem but we see a lote of these:

[code]

[2015-09-26 09:16] lkraav commented on #12
I've narrowed the problem down somewhat. It's the `if (get_option('mainwp_optimize') == 1)` logic branch in `renderAllActiveTable()`.

If I turn the optimize functionality OFF in settings, then plugin list loads immediately, and plugin keyword queries also work.

[2015-11-02 12:43] tersmitten opened #22 "MainWP mails for theme conflicts that are ignored"
WordPress Theme Conflicts

It would be nice if MainWP would check that updated are not ignored, before sending a mail

[2015-12-04 13:10] chland opened #25 "Translation issues"
I installed MainWP for the first time today and while I really like it, i encountered a rather annoying problem - i'm using the plugin on a site using the german language-file (which is pretty badly translated - but thats another story) and after seeing that quiet a lot of translations were missing, i fired up PoEdit and tried to translate the missing stuff on my own and fix the current translatio

[2015-12-04 15:06] dennisdornon commented on #25
Thanks for your feedback. I won't be able to get those changes in the next version, since we are on the final testing for that release, but I will priority translation in the update after this one.

[2015-12-05 01:51] ctalkington commented on #25
you could also adopt a build system such as grunt and use `wp-i18n` which as tasks for updating/adding missing text domains.

https://github.com/cedaro/grunt-wp-i18n

[2015-12-31 07:41] tersmitten commented on #22
Anyone?

[2015-12-31 17:01] dennisdornon commented on #22
Apologies, was there a question?  I was looking at this as more of a suggestion which has been noted.

[2016-01-01 08:44] tersmitten commented on #22
Sorry that was probably my fault. I thought of it more as a bug since we get lots of unnecessary mail.

[2016-01-07 18:02] ruben- commented on #25
Reviewed in v3.0

[2016-01-07 18:02] #25 closed

[2016-01-07 18:03] ruben- commented on #20
Fixed in v3.0

[2016-01-07 18:03] #20 closed

[2016-01-07 18:05] ruben- commented on #15
Fixed in v3.0

[2016-01-07 18:05] #15 closed

[2016-01-07 18:29] ruben- commented on #10
Fixed in v3.0

[2016-01-07 18:29] #10 closed

[2016-01-07 18:33] ruben- commented on #12
Fixed in v3.0

[2016-01-07 18:33] #12 closed

[2016-01-07 19:43] ruben- commented on #22
Changed in v3.0

[2016-01-07 19:43] #22 closed

[2016-01-07 19:51] ruben- commented on #16
The method causing this is removed in v3.0-beta. The help method of wp-cli (0.22 at this moment) is working fine with MainWP v3.0-beta installed. (soon to be released final)

[2016-01-07 19:51] #16 closed

[2016-01-07 20:18] #13 closed

[2016-01-16 22:12] lkraav opened #26 "MainWP_DB::install() always runs wizard, locks out admin with set_transient() "_mainwp_activation_redirect""
I'm running PHP 7.0.2 + phpredis php7 branch for object cache. Multi-site. Disabling object cache didn't seem to make any difference to this problem.

Since 3.0, `MainWP_DB::install()` shows that `$currentVersion` is always empty.

This causes the installation wizard to always run, locking out the main site admin where I have `mainwp` activated.

Tested this:
[code]

We can see the transient is al

[2016-01-17 19:09] ruben- commented on #26
Could you please verify if this is fixed with the database class I just commited to the main branch?

[2016-01-17 19:19] lkraav commented on #26
"Not right now" button works properly now, I'm able to continue browsing the main site without issues. Looks fixed.

[2016-01-17 20:01] #26 closed

[2016-02-16 14:33] marco-springer opened #30 "Add child sites via CLI"
I've just seen you are planning to add new CLI functionalities to MainWP [here](https://github.com/mainwp/mainwp/blob/f10164af6530c37b0912298eb5a341cd3af26b4a/class/class-mainwp-wp-cli-command.php#L28)

` * @todo: allow to add or remove child sites `

I'm really interested in using that functionality and wanted to ask if you already have a schedule for implementing it or if it will be done further

[2016-02-16 14:47] reeslo opened #31 "cron/updatescheck.php error 500"
cron/bootstrap.php include wp-load.php from root directory.
In most case wp-load.php is located at the root folder.
When wordpress are installed in subdirectory (https://deliciousbrains.com/install-wordpress-subdirectory-composer-git-submodule/), this script does not work.

I have no idea for now how to get the real directory where wp-load.php are located.

[code]

[2016-02-16 18:44] ruben- commented on #30
We will be releasing this version soon with only limited functionality for CLI: syncing clients and updating themes/plugins.

In the next releases we will be adding new features to CLI depending on the response/requests of the users. Adding and removing child sites will be added in the second version containing CLI.

[2016-02-16 18:44] #30 closed

[2016-02-16 18:46] ruben- commented on #31
Could you test with the new bootstrap.php committed in the master branch?

[2016-02-17 08:25] reeslo commented on #31
Does not work for me, if you check wp-load.php, it find parent folder to include wp-config.php.
I submited a pull request, with a glob to find into root sub-folders wp-load.php to include if found.

[2016-02-17 18:09] ruben- commented on #31
You linked the setup in the first post. This setup has wp-config.php in the root directory, in this config your ABSPATH is defined with the subfolder. So normally the code I added gets the new ABSPATH and includes the wp-load.

What was not working with that approach?

The reason I'm asking: your pull requests searches all subfolders, so when you have multiple wordpress sites set up it could cause

[2016-02-17 19:30] wrrr opened #33 "MainWP Dashboard - Nginx Error Log"
2016/02/17 13:42:11 [error] 51578#0: *1587 FastCGI sent in stderr: "PHP message: PHP Warning:  array_splice() expects parameter 1 to be array, string given in /srv/http/mydomain/wp-content/plugins/mainwp-child/class/class-mainwp-child-themes-check.php on line 168
PHP message: PHP Warning:  Invalid argument supplied for foreach() in /srv/http/mydomain/wp-content/plugins/mainwp-child/class/class-mai

[2016-02-17 19:33] ruben- commented on #33
Fixed in child; https://github.com/mainwp/mainwp-child/commit/dbef577add59b3db3c2c9ba8106e324f9fe35408

[2016-02-17 19:33] #33 closed

[2016-02-17 19:57] reeslo commented on #31
Oh sorry, I drop this link without see the wp-config.php.

I use this approach http://www.24joursdeweb.fr/2014/comment-bien-versionner-son-site-wordpress-avec-git-et-github/

but I can set ABSPATH think this has no effect for my setup. I will retry it tomorrow at work. :)

[2016-02-18 07:44] reeslo commented on #31
It's works !

[2016-02-18 16:39] #31 closed

[2016-06-27 12:28] thms0 commented on #30
That would be a great addition, indeed.

[2016-08-02 17:53] ruben- commented on #14
Queries are fixed in latest version.

[2016-08-02 17:53] #14 closed

[2016-08-03 15:39] dsgnr opened #37 "Sites not always adding"
Hello, I am new to using MainWP. It does seem great so far. However, I am having a small issue where sites say they are added to my Parent install, but they never do. This means I have to deactivate the child plugin installation and reactivate it to get a new code.

I have checked the server information in the plugin tabs and everything is a 'pass' in there so not sure what could cause this.

Inte

[2016-08-03 15:44] bogdan-mainwp commented on #37
Hi Dan,

Thanks for reaching us. Can you please open a helpdesk ticket so we can help you?
https://mainwp.com/support/

Thanks

[2016-09-08 20:29] dennisdornon commented on #37
@dsgnr Did you submit a ticket and was your issue resolved?

[2016-09-15 18:58] PascalAnimateur opened #39 "Stalled upload causing duplicate backup files on remote destination"
I'm having problems with big backup files (<2Gb) being uploaded multiple times to a remote Dropbox destination (I'm using mainwp-remote-backup-extension). It seems the 'stalled' upload status is handled by mainwp itself by restarting the upload task.

See my other [issue](https://github.com/khromov/mainwp-remote-backup-extension/issues/1) on the forked plugin repo.

[2016-09-16 21:48] m-e-h opened #40 "site favicon"
I'm not seeing any favicons for my child sites. It looks like it's trying to use `{$childdomain}/favicon.ico`
I'm pretty sure I don't have a favicon.ico for my sites.

If not already doing so, perhaps first check for the `site-icon` using some of the WP functions.
`has_site_icon()`
`get_site_icon_url()`

[2016-09-17 09:38] bogdan-mainwp commented on #40
Thanks for reporting this issue and for the suggestion. I will forward this to our Dev team and have them recheck the code.

[2016-09-30 17:05] #37 closed

[2016-10-07 14:13] ptrckvzn opened #43 "cron/bootsrap.php will return "Unsupported WordPress setup" when ABSPATH is not defined explicitly in wp-config.php"
I am using [Roots.io's Bedrock](https://roots.io/bedrock/docs/folder-structure/) folder structure for my WordPress sites.

[code]

The [wp-config.php](https://github.com/roots/bedrock/blob/master/web/wp-config.php) located in the web root folder requires other configuration files in ../config/*. mainwp/cron/bootstrap.php is looking for the ABSPATH define statement explicitly in wp-config.php. With

[2016-10-11 00:43] edflips opened #44 "Chrome 'Parser-blocking, cross-origin script' warning"
It looks like Google are are pushing ahead with blocking scripts injected with document.write, and I'm seeing warnings in the Chrome (current stable) console when enabling the mainWP Dashboard plugin.

`A Parser-blocking, cross-origin script, https://www.google.com/uds/?file=visualization&v=1&packages=corechart, is invoked via document.write. This may be blocked by the browser if the device has po

[2016-10-13 17:41] ruben- commented on #40
Fixed in child, will be included in next release.

[2016-10-13 17:41] #40 closed

[2016-10-26 17:33] ruben- commented on #43
We try to do this by first trying to use the wp-load file. If this does not succeed we manually parse the wp-config, since including it would cause errors since the wp-load takes care of loading the wordpress functions.

[2016-10-27 00:31] Filoz opened #45 "Error in Security fix description"
Probably there is an error with this description: https://github.com/mainwp/mainwp/blob/master/page/page-mainwp-security-issues.php#L122

The description "After fixing this issue, database error reporting will be disabled" doesn't look correct for this fix: Scripts and Stylesheets version information has not been removed from URLs

[2016-10-27 16:34] #45 closed

[2016-11-05 21:23] Sonicelo opened #46 ""Server information -> wp-config file" page is empty"
I am using non-standard wordpress instalation, where the wordpress sources are located in a subfolder.

To display the wp-config values, you are looking only directly in wordpress core folder, but Wordpress also supports having wp-config file one folder above, as we can see in the source:
https://core.trac.wordpress.org/browser/trunk/src/wp-load.php#L34

Same problem arrises, when viewing child si

[2016-12-16 12:21] Sonicelo opened #49 "File backup only includes folders inside Wordpress directory"
Similar to #46 I have a custom folder configuration and I noticed, that your data backup only includes files inside WordPress directory. If you could include the folders defined by WP_CONTENT_DIR, WP_PLUGIN_DIR, UPLOADS by your backup-er. Currently your database backup service is useless to me because of this.

[2016-12-16 15:38] dennisdornon commented on #49
We moved away from creating backups directly through the MainWP plugin and I would recommend one of the free [Backup Extensions](https://mainwp.com/mainwp-extensions/extension-category/backup/) that may provide the functionality you need and be more useful for you.

We will not be making any changes to the default backups and only continuing to maintain current functionality for legacy users, you

[2016-12-16 15:38] #49 closed

[2016-12-16 15:38] dennisdornon commented on #46
We moved away from creating backups directly through the MainWP plugin and I would recommend one of the free [Backup Extensions](https://mainwp.com/mainwp-extensions/extension-category/backup/) that may provide the functionality you need and be more useful for you.

We will not be making any changes to the default backups and only continuing to maintain current functionality for legacy users, you

[2016-12-16 15:44] Sonicelo commented on #46
It seems you simply duplicated the response from the other thread I created, I am tackling here a different issue, only setup is similar.

[2016-12-16 15:58] dennisdornon commented on #46
You are correct, my apologies.

[2016-12-27 01:28] benyanke opened #50 "BUG: TLS Issues with TLS Dashboard and non-TLS Child Sites"
When the dashboard is loaded over TLS, and the child site does not support TLS, the favicon loading in the dashboard breaks the TLS connection, because it loads directly from the child's server.

I suggest proxying the favicons through the dashboard install, so that they can all be loaded securely.

[2016-12-27 04:05] benyanke opened #51 "FEATURE SUGGESTION: Redirection To Dashboard"
I would suggest allowing automatic frontend-blocking/redirection-to-backend as a feature.

At least with my configuration, this simple htaccess rule allows this.

[code]

If users are, as you suggest, setting up dedicated wordpress installs to function as dashboards, this would be a desirable feature to add for easy implementation without editing the htaccess file manually. Of course, the destinat

[2016-12-27 04:20] benyanke opened #52 "bug: doesn't allow adding site with custom roles"
On one of my sites, I have all the roles custom defined. One of them is the de-facto administrator, but not called that.

![image](https://cloud.githubusercontent.com/assets/4274911/21490346/102f701a-cbb9-11e6-9d3f-018bb04dc2ed.png)

There really needs to be an override, to the effect of "yes, I know this role is not called administrator, but the user contains the needed permissions to do what I w

[2016-12-27 10:30] bogdan-mainwp commented on #51
Thanks for submitting your idea. Please check the [MainWP Clean & Lock Extension](http://mainwp.com/extension/clean-and-lock/), I believe that it would allow you to do something very similar.

[2016-12-27 10:32] bogdan-mainwp commented on #50
Thanks for reporting this issue.
Would you be able to open a [helpdesk ticket](https://mainwp.com/support/) so I can have our dev team on this?

[2016-12-27 10:33] bogdan-mainwp commented on #52
Thanks for reporting this issue.
Would you be able to open a [helpdesk ticket](https://mainwp.com/support/) so I can have our dev team review this and see if it's possible to do something like this?

[2016-12-27 14:38] #51 closed

[2016-12-27 14:41] benyanke commented on #52
Submitted.

[2016-12-27 14:41] benyanke commented on #50
Submitted.

[2016-12-27 14:41] bogdan-mainwp commented on #50
Thanks

[2016-12-27 14:41] bogdan-mainwp commented on #52
Thanks

[2017-01-01 15:30] milsorm opened #53 "Add new site on SSL not always working"
Hi folks,

when I try to add my SSL-enabled sites and properly choose in Add Single Site dialog "https" instead of "http" in select box, I received times to times (and more frequently these days) error that MainWP Child cannot be detected.

After several hours of investigation I found that this "https" information is ignored in deep of function calls and in `fetchUrl` function is called `curl` on

[2017-01-01 17:48] milsorm opened #54 "Incomplete adding site if there are too many files on client"
I use plugin "Merge + Minify + Refresh" which (unfortunately) incorrectly store a lot of cache files below `wp-content/mmr` directory. He is able to create 50+ GB a year with hundred of thousands of files. My bad, I know.

But if I try to add such site do MainWP Dashboard, it performs `getSiteStats()` which tries to collect all directories, files and their sizes. And that is unable to do in one mi

[2017-01-01 19:40] #46 closed

[2017-01-05 20:38] lkraav opened #55 "admin.php?page=mainwp_about&do=whatnew: multisite main site wp-admin redirect loop after mainwp update"
I'm fairly certain this started in the last few months. Wouldn't be surprised if object caching issue again, like #26.

[2017-01-05 20:44] lkraav commented on #55
Commenting out this conditional block helped https://github.com/mainwp/mainwp/blob/master/class/class-mainwp-system.php#L1898

I would really appreciate if you wouldn't mess with people admins with forced redirects.

[2017-01-10 15:31] bogdan-mainwp commented on #53
Hi Milan,

Have you been able to duplicate this issue again after our last release ( Jan 5th, 2017 )?

Thanks

[2017-01-10 16:02] milsorm commented on #53
I’ve changed after upgrade curl configuration again :(

But I will made some tests in new release during next weekend.

From: Bogdan Rapaić [mailto:notifications@github.com]
Sent: Tuesday, January 10, 2017 4:32 PM
To: mainwp/mainwp <mainwp@noreply.github.com>
Cc: sorm@milansorm.cz; Author <author@noreply.github.com>
Subject: Re: [mainwp/mainwp] Add new site on SSL not always working (#53)

Hi Mila

[2017-01-11 13:25] bogdan-mainwp commented on #54
Hi Milan,

Would you be able to open a support ticket at https://mainwp.com/support/?

The dev team made an update and they would like to send the update for testing if you would be able to do that.

Thanks

[2017-01-11 13:26] milsorm commented on #54
yes, but during the weekend due to a huge amount of work in front of me... can be?

From: Bogdan Rapaić [mailto:notifications@github.com]
Sent: Wednesday, January 11, 2017 2:25 PM
To: mainwp/mainwp <mainwp@noreply.github.com>
Cc: sorm@milansorm.cz; Author <author@noreply.github.com>
Subject: Re: [mainwp/mainwp] Incomplete adding site if there are too many files on client (#54)

Hi Milan,

Would yo

[2017-01-11 13:26] bogdan-mainwp commented on #54
Ok, that is ok.

Thanks

[2017-01-22 16:46] milsorm commented on #54
It is the same behaviour also in new version. And of course the thing in Reconnect. So I add that call to every curl call inside utility class and after that MainWP works normally.

[2017-01-22 16:47] milsorm commented on #53
It is the same behaviour also in new version. And of course the thing in Reconnect. So I add that call to every curl call inside utility class and after that MainWP works normally.

[2017-01-22 16:49] milsorm commented on #53
Resubmit to MainWP ticket.

[2017-01-22 16:50] milsorm commented on #54
Resubmit to MainWP ticket.

[2017-03-11 19:04] pjjackowski opened #58 "Add an option to force use of IPv4"
After successfully having added a handful of sites to my dedicated MainWP installation (WP 4.7.3, MainWP 3.3.1), I was unable to add another one. I had a closer look and found out this "uncooperative" one had IPv6 address that was different than IPv6 address of those sites I was able to add; they all share the same IPv4 address, though. After forcing IP4 check by adding these lines:

to `tryVisit(

[2017-03-23 13:13] fufroma opened #59 "[Feature] - Security check - Add check for uniq KEY"
Hello,

I found some WP in my network with this configuration:
[code]

I think the security check could have a check on those constant.

[2017-04-24 08:12] ArjonBu opened #60 "Plugin doesn't work if site is managed sia SSH"
If I configure your site like [this](https://www.digitalocean.com/community/tutorials/how-to-configure-secure-updates-and-installations-in-wordpress-on-ubuntu), I can not install plugins or themes via mainwp dashboard on a client site.

[2017-05-19 04:16] lukecav opened #61 "MainWP - websiteid option issue for WP-CLI plugin and theme updates"
Plugin and theme updates by child id fail when using WP-CLI.

Examples
wp mainwp plugin 1 --upgrade=akismet
wp mainwp theme 1 --upgrade=akismet

Those options are defined here
https://github.com/mainwp/mainwp/blob/master/class/class-mainwp-wp-cli-command.php#L62
https://github.com/mainwp/mainwp/blob/master/class/class-mainwp-wp-cli-command.php#L125
https://github.com/mainwp/mainwp/blob/master/clas

[2017-05-19 20:51] lukecav commented on #61
Just tested plugin and theme WP-CLI command update works fine, just you need to use the list command to find out the actual child site id. https://mainwp.com/help/docs/wp-cli-commands/

**wp mainwp plugin --list**

In the first column will be the id, of the child site, so in this example site 1, had an id of 126 and site 2 had an id of 127.

**wp mainwp plugin 126 --upgrade-all
wp mainwp plugin 12

[2017-05-19 20:51] #61 closed

[2017-06-23 16:07] cohan opened #62 "Allow listing of all plugins and themes via WP CLI"
Could we have functionality to list all themes and plugins (maybe use --list-all?) when running wp mainwp plugin --list rather than just those that need updates?

[2017-06-30 12:21] lkraav opened #63 "3.4.1: moment.js conflict with Gutenberg"
Gutenberg fails to load with a Moment version conflict JS error, when MainWP is activated.

[2017-06-30 12:53] bogdan-mainwp commented on #63
Are you getting this issue on the Dashboard site or child sites?

[2017-07-03 16:17] bogdan-mainwp commented on #63
We were able to duplicate the issue and the dev team is working on this.

[2017-07-03 17:06] bogdan-mainwp commented on #63
The dev team fixed the issue, please contact us on https://mainwp.com/support/ if you want me to send you the pre-release version.

[2017-07-03 19:57] lkraav commented on #63
Thanks for attending. I can hold off re-activating until you release the next minor version (y).

[2017-07-16 13:18] StaggerLeee opened #64 "Add a class to admin listing(s)"
Can you please just add new class to table rows in Sites listings ?
Take name of a Group and make new class. That way we can manually with CSS change table row background depending of what Group a Site is in.

You know, what is allowed to do for localhost, quick bulk update of everything, cannot be allowed for "Live" websites.

So when it is not allways visually clear if Site is localhost or Live

[2017-07-16 13:22] bogdan-mainwp commented on #64
Thanks for submitting this suggestion, I will talk to the dev team and have them add this in the next release.

[2017-07-16 18:07] StaggerLeee opened #65 "Update plugin from custom folder"
I did not need this one much before. But in last time I take more and more most old and abandoned plugins from repository, Github mostly,, fork them, customize, disable update code and all update calls.

It would be useful with new feature for developers to be able to update a plugin on all websites from custom folder ?

As not so much involved in how MainWP works in deep, I believe it would be en

[2017-07-17 12:39] bogdan-mainwp commented on #65
For feature requests, please check this page: https://mainwp.com/mainwp-roadmaps/

However, I believe that you could use the following method to update your sites:
1. After updating plugin code, zip the plugin into a zip archive
2. Login to your MainWP Dashboard
3. Go to the MainWP > Plugins > Install > Upload page
4. Upload the plugin archive file
5. Select the wanted sites
6. Make sure that the

[2017-07-17 12:43] bogdan-mainwp commented on #64
The HTML markup of the Manage Sites table has been updated and this will be included in the next release.

Each table row will contain the following: id="child-site-$id" and class="$groups"

[2017-07-17 12:43] bogdan-mainwp commented on #63
This fix has been included in the 3.4.2 version.

I will go ahead and mark this issue as closed.

[2017-07-17 12:43] #63 closed

[2017-07-17 12:45] bogdan-mainwp commented on #59
For feature requsts, please check this page: https://mainwp.com/mainwp-roadmaps/

[2017-07-17 13:14] bogdan-mainwp commented on #50
Issue fixed in one of the previous versions.

[2017-07-17 13:14] #50 closed

[2017-07-17 13:19] bogdan-mainwp commented on #53
milsorm, if the issue still persists, please feel free to reopen the ticket in your MainWP account, for now, I will go ahead and mark this issue as closed.

[2017-07-17 13:19] #53 closed

[2017-07-17 13:21] bogdan-mainwp commented on #54
The dev team determined that the issue has been caused by a 3rd party plugin.

milsorm, please respond to the help desk ticket for the further troubleshooting. For now, I will go ahead and close this issue.

[2017-07-17 13:21] #54 closed

[2017-07-17 13:23] bogdan-mainwp commented on #55
The issue has been fixed in one of the previous versions.

I will go ahead and close this issue.

[2017-07-17 13:23] #55 closed

[2017-07-17 13:27] bogdan-mainwp commented on #39
Apologies that you are experiencing an issue with the default MainWP backups.  Have you considered trying the [free Backup Extensions](https://mainwp.com/mainwp-extensions/extension-category/backup/) to see if one of them solves your problem and works better for you?

We are actively moving away from the default MainWP Backups, as noted in [this blog post](https://mainwp.com/mainwp-begins-integrat

[2017-07-18 13:14] bogdan-mainwp commented on #60
Apologies for the delay. Can you please [open a helpdesk ticket](https://mainwp.com/support/) so our dev team can troubleshoot this issue?

[2017-07-18 13:15] bogdan-mainwp commented on #62
The dev team will add this for the next release.

[2017-07-18 13:15] #59 closed

[2017-07-18 13:17] bogdan-mainwp commented on #58
This issue is being reviewed by the Dev team.

[2017-07-18 13:19] bogdan-mainwp commented on #44
Apologies for the delay.

If the issue still persists, please [open a helpdesk ticket](https://mainwp.com/support/) so our dev team can review this.

[2017-07-18 14:53] Arjoni commented on #60
I already did. They said that mainwp doesn't support accessing files if wordpress is configured to connect via ssh.

[2017-07-19 10:38] StaggerLeee commented on #65
So simple. How could I miss than. Thank you.

[2017-07-19 10:38] #65 closed

[2017-07-19 10:39] StaggerLeee commented on #64
I will close issue and thank you.

[2017-07-19 10:39] #64 closed

[2017-08-25 10:38] phalancs opened #67 "Update Count shows incorrect number"
After quite some usage time the main plugins/ themes update count on the dashboard shows an incorrect nurmber. I dont know if it is caused by unfinished updates or a bug and how it is calculated but its wrong by the hundreds und not just a sum of the zeros below.

[2017-08-25 12:47] bogdan-mainwp commented on #67
Can you please verify that you are using the latest versions of the MainWP plugins (3.4.3)?

[2017-08-25 12:49] bogdan-mainwp commented on #62
Included in 3.4.3 version.

Available commands:
[code]

_(2, 5 == child site IDs)_

[2017-08-25 12:49] #62 closed

[2017-08-25 12:49] bogdan-mainwp commented on #58
Included in version 3.4.3

[2017-08-25 12:49] #58 closed

[2017-08-28 11:10] phalancs commented on #67
Thanks for your update. I have found the issue: I disabled the translations update count, so maybe it is not a real bug but unexpected behaviorand a little irritating nonetheless :)

[2017-09-02 11:15] milsorm opened #68 "[Feature Request] Support ftpext upgrading"
Hi folks,

I am using MainWP on many sites and it works perfectly, but only for `direct` `FS_METHOD` access for update and upgrade. If I want to use `FS_METHOD` `ftpext`, there is no way how to provide credentials for FTP access to MainWP Child.

I recommend to allow storing FTP credentials on MainWP server (can be encrypted in DB via some system key or whatever) and send this FTP credentials toge

[2017-09-02 11:18] milsorm opened #69 "[Feature Request] Minimum required plugins per group"
Hi folks,

on most WP sites I want to have some collection of plugins. Please allow to create a list of plugins required per group so if I associate WP site to group "Customer" it will automatically add request for 5-7 minimum plugins used by every customer (security). Another group "ACF" will add all my plugins around ACF, CPT UI, repeater etc.

And of course to all sites I want some minimal "def

[2017-09-03 08:37] milsorm commented on #60
You can use my solution for FTPEXT (it is very similar for SSH) in https://github.com/mainwp/mainwp/issues/68

[2017-09-05 13:15] bogdan-mainwp commented on #67
phalancs thanks for the update. This has been assigned to the dev team and it will be sorted out.

[2017-09-05 13:16] bogdan-mainwp commented on #68
milsorm, thanks for the suggestion, the dev team will check this and see what they can do.

[2017-09-05 13:17] bogdan-mainwp commented on #69
Milan, thanks for the idea. However, it would be the best to follow this process: https://mainwp.com/mainwp-roadmaps/ so the idea can be submitted to feature request section properly and don't get lost.

[2017-09-19 10:30] pedro-mendonca opened #72 "[i18n] improvements"
**MainWP Dashboard** have some *i18n* issues that I'll try to describe below to further solve.
These suggestions improve consistency of the UI and reduce the number of translations strings.

- [x] Add missing Gettext functions

- [x] Add missing textdomains in existing Gettext functions

- [ ] Merge very similar strings to improve consistency
- `Add new site`, `Add New Site`

- [ ] Remove UPPERCAS

[2017-09-24 17:58] Arjoni commented on #60
Any update on this?

[2017-09-26 13:09] phalancs opened #73 "Child Site Search in backend sidebar menu is case sensitive"
When searching for a child site in the backend sidebar, the filter is case sensitive which is pretty annoying.

Maybe you should consider making it less sensitive and btw. putting a child search field up in the top admin bar instead of an additional admin footer would be a big win too :)

[2017-10-11 14:37] vladimirdulov opened #75 "Array to string conversion"
There is 'Array to string conversion' error occurring in line 46 of  wp-content/plugins/mainwp/page/page-mainwp-manage-backups.php

proposed fix:
[code]

[2017-10-26 07:00] robwent opened #76 "Removing admin menu items leaves links in header menu"
Removing the posts, pages, media (etc) menu items in the admin still leaves the options in the header menu:

![mainwp-admin-header](https://user-images.githubusercontent.com/411678/32038669-e8393b5a-ba22-11e7-85d7-16c987a33cd9.PNG)

Not particularly a problem but seems to make sense to remove it there if the option isn't in the main navigation.

I'm new to mainwp so would take me a while to figure

[2017-11-04 08:34] StaggerLeee opened #77 "Prevent scroll bleed"
Can you make it so that scrolling inside small popup does not move "Syncing Websites" away from screen center and from screen view ?

As it is now very irritating. You have to assume when small popup is activated Users are not interessted about dimmed, opacitiy "background" page and what is happening there.

Possibly any other modal popup you are using, do not know by heart all of them.

[2017-12-08 12:58] StaggerLeee commented on #77
Done in new update version. Very much thank you.

[2017-12-08 12:58] #77 closed

[2018-02-05 12:11] oliver-graetz opened #78 "Plugin management menu not usable"
On the *PluginsManage* page, after I select several sites and get a table of all the plugins, the menu button to select an action opens the menu behind the table and I cannot select a menu item:

![plugins-select-action](https://user-images.githubusercontent.com/4057601/35803876-b30c3380-0a75-11e8-9d37-62e4e3cfdaf6.png)

Also, this button and the one to the right of it do not adhere to the languag

[2018-02-05 12:13] oliver-graetz commented on #78
The same is true for the *ThemesManage* page but it is working on the *UserBulkManage* page.

[2018-02-05 15:38] bogdan-mainwp commented on #78
Thanks for reaching us. We are not able to duplicate this on our test sites. Can you please open a helpdesk ticket so we can troubleshoot this?

[2018-02-05 15:46] bogdan-mainwp commented on #76
Thanks for the suggestion, however, this is something that each user can do if it's needed by inserting the snippet to the functions.php file of the active theme. Even though we strongly suggest using the MainWP Dashboard on a dedicated installation, some users don't do this so the top admin bar navigation would still be needed.

[2018-02-05 16:25] robwent commented on #76
That doesn't really make sense to me.

You could hide the left hand menus by adding a snippet to your themes files as well so why have the option available in the first place?

If you switch on an option to remove links to the post edit pages then you would expect it to be removed everywhere, not just in some places. Why do half a job?

Someone not using a dedicated install likely wouldn't switch

[2018-02-05 16:55] oliver-graetz commented on #78
Thanks for the feedback. I will try to figure out if some oher third party plugin is responsible and report back here. If not, then I will use the help desk. We are just getting started using MainWP.

[2018-02-06 17:05] oliver-graetz commented on #78
I found the culprit. We had to make a z-index adjustment for problems with another plugin and those created this problem. Sorry to bother you for what was not a problem in MainWP.

[2018-02-06 17:05] #78 closed

[2018-02-13 16:41] makeshyft-tom-g opened #80 "how do you gain access to a site without admin password?"
I have to ask ...how does this plugin gain access to a site without admins password?

Is it because the child can pass the password hash to the main dashboad.

Thank you for the great plugin, great job though.

[2018-04-02 15:07] ebartz opened #81 "Add sites automatically"
Hi there,

I have seen that there is at least some integration with wp-cli. I am trying to automate as much as possible while creating new wordpress sites.

Is there a way to add new sites to a master using the CLI or an API?

[2018-04-02 15:20] bogdan-mainwp commented on #81
Hi, there is the `mainwp_addsite` filter that can be used for adding new sites. Here is the filter usage example:

[code]

[2018-04-02 15:41] ebartz commented on #81
Awesome. Thanks :)

[2018-04-02 15:41] #81 closed

[2018-04-11 08:18] pedro-mendonca opened #82 "[i18n] Setup Wizard timeline broken in long translated titles"
- [x] Align to bottom the Setup Wizard steps, it's not aligned if translations have more than one line

![screenshot 2017-09-19 11 33 43](https://user-images.githubusercontent.com/7371591/30588411-7c8c7f36-9d2e-11e7-9f01-9171b489eb09.png)

Mentioned in https://github.com/mainwp/mainwp/issues/72

[2018-05-31 16:15] tannerchung opened #84 "Bug: Apache error logs show issues with GA extension"
Please let me know if more information is needed - this was happening with the Broken Links checker  Extension as well until I deactivated it.
[code]

[2018-06-01 16:23] bogdan-mainwp commented on #84
@tannerchung can you please [open a helpdesk ticket](https://mainwp.com/my-account/get-support/) and send me the system report from your dashboard so I can check that?

[2018-06-12 04:47] luke-au opened #85 "MainWP Setup Wizard refers to Select2 CSS from wrong folder"
I noticed a 404 on a CSS file for Select2, code in the Setup Wizard is enqueuing a CSS file from the JS folder of select2.

https://github.com/mainwp/mainwp/blob/278badde5aafa65ac43675bc44ba9db077533607/page/page-mainwp-setup-wizard.php#L141

I assume that should be linking to `mainwp/js/select2/css/select2.css` rather than `mainwp/js/select2/select2.css`

[2018-06-12 10:27] #39 closed

[2018-06-23 16:52] cfoellmann opened #86 "running as must-use plugin kills the install"
When I put the plugin in `mu-plugins` it gives me the wizard and afterward it kills the whole WP install.
Can anyone confirm this?

It would be great if I could put everything as must-use.

[2018-06-25 08:17] cfoellmann opened #89 "Code styling issues"
could you please run a code styling check some time? Spaces at line endings especially.
Every time I save a file in my IDE I get a lot of changes because my autocorrection removes unnecessary spaces.

[2018-06-25 11:35] cfoellmann commented on #85
@bogdan-mainwp it would be great if you guys could invest a little bit more time into the fixes provided by you users here (e.g. pull requests)

[2018-06-25 13:39] diroots commented on #30
Hello there, this answer was from 2016, more than 2 years ago. Is there any news nowadays?

[2018-07-05 10:39] cfoellmann opened #90 "DISALLOW_FILE_MODS blocks functionality"
When I do `define( 'DISALLOW_FILE_MODS', true );` on my dashboard installation I can not install plugins on child sites.
The option "Install this Plugin" is missing.

The constant should not block features concerning remote actions. Until this can be fixed it should be tested on the "Server Information" page.

[2018-07-05 10:42] cfoellmann opened #91 "hide ".htaccess" tab"
you should detect if the webserver != apache and then hide the `.htaccess` tab on the server information page.

[2018-07-09 16:21] #43 closed

[2018-07-09 16:22] bogdan-mainwp commented on #44
Scheduled for the next release.

[2018-07-09 16:30] bogdan-mainwp commented on #60
The dev team is still reviewing this issue. Please allow us more time for this.

[2018-07-09 16:31] bogdan-mainwp commented on #67
Scheduled for the next release.

[2018-07-09 16:45] bogdan-mainwp commented on #68
Still under review.

[2018-07-09 16:46] #69 closed

[2018-07-09 16:48] bogdan-mainwp commented on #72
Scheduled for the next major point release.

[2018-07-09 16:49] bogdan-mainwp commented on #73
Scheduled for the next major point release.

[2018-07-09 16:50] bogdan-mainwp commented on #75
@vladimirdulov thanks for reporting this.

The issue has been fixed and released.

[2018-07-09 16:50] #75 closed

[2018-07-09 16:52] bogdan-mainwp commented on #76
The upcoming major point release won't have this issue so I will close this issue.

[2018-07-09 16:52] #76 closed

[2018-07-09 16:53] bogdan-mainwp commented on #82
Fixed and it will be included in the next release.

[2018-07-09 16:53] #82 closed

[2018-07-09 16:53] bogdan-mainwp commented on #84
scheduled for the next release.

[2018-07-09 16:55] bogdan-mainwp commented on #85
@cfoellmann the issue has been fixed and it will be included in the next release.

[2018-07-09 16:55] #85 closed

[2018-07-09 16:55] bogdan-mainwp commented on #86
Scheduled for the next major point release.

[2018-07-09 16:56] bogdan-mainwp commented on #89
scheduled for the next major point release.

[2018-07-09 16:57] bogdan-mainwp commented on #90
fixed, it will be included in the next release.

[2018-07-09 16:58] #90 closed

[2018-07-09 16:59] bogdan-mainwp commented on #91
scheduled for the next major point release.

[2018-07-10 10:34] cfoellmann opened #92 "Hide "Get new extensions" button"
Would be nice to hide the "Get new extensions" button (at the top next to "Sync data with child sites" when hiding the bottom/footer bar (option "Turn off brag button").

[2018-08-20 12:53] gingerling opened #93 "Some sites in list are not visible - blank"
Hi, not sure what to make of this -

Some sites in my list of sites are not showing in the list, there is just blank space with a check box. There dosn't seem to be any text there, it's not just gone white or something. I am using firefox browser and "Currently managing 15 child sites with MainWP 3.4.9 version"

![screenshot from 2018-08-20 13-49-21](https://user-images.githubusercontent.com/28530

[2018-08-20 13:11] bogdan-mainwp commented on #93
Please feel free to open a [helpdesk ticket](https://mainwp.com/my-account/get-support/) so we can help with troubleshooting.

[2018-09-13 15:48] #93 closed

[2018-09-13 15:49] bogdan-mainwp commented on #92
Entire plugin header is being redesigned for the next major point update.

[2018-09-13 15:49] #92 closed

[2018-09-13 19:32] gingerling commented on #93
Hi, I think this clearly a bug report not troubleshooting or support.
Please get the developers to take a look. Guess it's a css issue.

On Thu, 13 Sep 2018, 16:49 Bogdan Rapaić, <notifications@github.com> wrote:

[2018-09-14 07:11] bogdan-mainwp commented on #93
It is not a CSS issue. It's an issue with escaping HTML that has been fixed a few versions ago, however, I am not sure why it's still present for you so I need you to open a helpdesk ticket so we can troubleshoot this.

[2018-10-04 21:16] tazotodua opened #94 "What are Woocommerce tags here?"
on this page:

https://github.com/mainwp/mainwp/blob/master/page/page-mainwp-setup-wizard.php

all file headers (the top 10 lines) contain "WooCommerce" plugin headings.
I think they are mistakenly included.

[2018-12-21 12:54] ianwijma commented on #81
Sorry to comment on a closed issue, But is there a way of calling a hook from CLI? I have seen idea's https://github.com/wp-cli/ideas/issues/90 but nothing concrete yet.

Are there any interests in a RP adding some more WP CLI functionalities? :smile:

[2018-12-21 16:39] ianwijma opened #96 "More WP CLI capabilities"
Hey MainWP,

I was curious if there is interest in more WP CLI capabilities. like adding sites from WP CLI. Because at work I already worked on a small add on plugin that allows such a functionality and found out how well written this plugin is.

So I was wondering if you guys are open for PR's that add WP CLI functionality to manage mainwp from CLI. And if so, which once you guys think are the mo

[2018-12-22 17:35] liedekef opened #97 "admin script issues"
When in the admin section of WP (not MainWP), there is an issue with MainWP and select2:

mainwp-admin | localhost | wp-content/plugins/mainwp/js/mainwp-admin.js | select2 (missing)

It seems mainwp is always loading on all admin screens in WP, causing this.
On its own, this is not an issue, but as a developer this causes e.g. Query Monitor to always complain about an error on the page ...

Also t

[2018-12-27 15:21] bogdan-mainwp commented on #96
@ianwijma Thanks for reaching out to us and showing the interest in our plugin.

Yes, we are open for Pull Requests and we really appreciate that. Also, the additional WP-CLI functionality will be very useful to our users.

[2019-01-02 16:16] ianwijma commented on #96
Awesome, So what do you guys think would be most interesting to implement into CLI first? I was thinking about more site management. list adding / removing / updating of sites.

[2019-01-14 12:20] liedekef commented on #97
Ok, ticket created

[2019-01-14 12:20] #97 closed

[2019-02-26 22:15] soktherat opened #98 "SQL error"
In class/class-mainwp-db.php SQL queries with "groups" keyword cause problems on my MySQL serwer. Solution - "".

SELECT wp.*,wp_sync.*,wp_optionview.*, GROUP_CONCAT(gr.name ORDER BY gr.name SEPARATOR ", ") as "groups"

[2019-05-20 18:01] humazed opened #99 "Check site HTTP response after update"
`Check site HTTP response after update` doesn't save its state after refreshing the page.

![image](https://user-images.githubusercontent.com/8838182/58042054-f0834d80-7b39-11e9-8f34-0760edda88f5.png)

[2019-07-25 15:02] pedro-mendonca opened #100 "[i18n] Bad pluralization of strings"
The plugin have a lot of bad i18n strings, specifically plurals and lack of context.

This is a short case, there are some more plurals like this one, with an hardcoded extra 's':
https://github.com/mainwp/mainwp/blob/master/widget/widget-mainwp-right-now.php#L1617
```<?php echo esc_attr($cnt); ?> <?php _e( 'Update', 'mainwp' ); ?><?php echo( $cnt > 1 ? 's' : '' ); ?>```

Adding an 's' in case of

[2019-08-06 07:59] dexit opened #101 "All documentation and MainWP site is down"
06/08/2019 9AM GMT - All documentation and MainWP site is down.

[2019-08-06 10:40] bogdan-mainwp commented on #101
Thanks for reporting this, we are working on this. It should be back up in short.

[2019-08-06 10:40] #101 closed

[2019-08-07 04:34] lesliechw opened #102 "Suggestion: Auto Update from Favourites Extension Source Option"
Hi Dev,

I would like to suggest to have the auto update options of "Plugin Automatic Daily Update" to have additional option of "Plugin Automatic Daily Update from Favourites Source".

With that will have much more control over the version and updates.

With that, Favourites Extension will act as Plugins Update Central Source for your network of WordPress.

With that, the network maintainer only

[2019-08-07 19:19] lesliechw opened #103 "Advanced Uptime Monitor create Monitor Error"
When try to "Create monitors for all Chile Sites", I got error [ ERROR: "alert_contacts" is not valid ].

When "Add New Monitor" to create monitor for single site, no problem.

Please advice how to fix this. Thanks.

[2019-08-30 01:28] demyxco opened #104 "Plugin details modal showing wrong plugin"
Updating to version 4 is pulling wrong plugin details in modal: https://i.imgur.com/ODAGb5r.gifv

[2019-08-30 02:09] demyxco opened #105 "Wrong URL in email from vulnerability check extension"
![](https://i.imgur.com/2PWQ8bf.png)

[2019-08-31 01:10] mrscharf opened #106 "Add new site results in openssl_pkey_get_details() error"
Trying to add a new site to the dashboard results in the screen hanging on "Adding the site to your MainWP Dashboard. Please wait...". Popping into the dev tools shows the following error in the AJAX response field:

Warning: openssl_pkey_get_details() expects parameter 1 to be resource, bool given in D:\laragon\www\MainWP-Dashboard\wp-content\plugins\mainwp\class\class-mainwp-manage-sites-view.ph

[2019-08-31 07:17] mrscharf commented on #106
I've fixed it. Here's how... I had moved the site from an xampp local server to laragon, and the path to openssl.cnf changed, but the old path to this file was stored in the database.

The value is stored in the `wp_options` table under option_name `mwp_setup_opensslLibLocation`.
To fix the problem, I changed the `option_value` from the old path...

C:\xampp\apache\conf\openssl.cnf

to the new pat

[2019-08-31 07:17] #106 closed

[2019-09-01 15:40] bradleeduffy opened #107 "Missing Sites Table - Issue with Client Reports and Comments plugins"
Hi Guys on v4 when the SEO Reports, Client Report, and Comments plugins enabled I am unable to view any of my MainWP site data. Data tables appear blank, buttons do nothing on click.

I have resolved this be deactivating the above plugins, when they are activated I get the following console errors:

Sites do not populate
unable to sync all sites
unable to view, sort, filter, manage, edit, delete,

[2019-09-02 14:44] bogdan-mainwp commented on #107
Hi @bradleeduffy, can you please try to hard-refresh your browser a couple of times and see if that helps, if not please open a [helpdesk ticket](https://mainwp.com/support/) so we can look into this.

[2019-09-02 14:45] bogdan-mainwp commented on #105
Hi @demyxco, can you please open a [helpdesk ticket](https://mainwp.com/support/) so we can look into this.

[2019-09-02 14:47] bogdan-mainwp commented on #104
This issue has been fixed and the fix will be included in the version 4.0.1

[2019-09-02 14:47] #104 closed

[2019-09-02 14:48] bogdan-mainwp commented on #103
Hi @lesliechw, can you please try to hard-refresh your browser a couple of times and see if that helps, if not please open a [helpdesk ticket](https://mainwp.com/support) so we can look into this.

[2019-09-02 14:49] bogdan-mainwp commented on #102
Hi @lesliechw, thanks for reaching out and sending us your feature request. We already have this feature request on our Trello board. Please feel free to check our [boards](https://mainwp.com/mainwp-roadmaps/) and vote/comment features that you like.

[2019-09-02 14:49] #102 closed

[2019-09-02 15:00] bogdan-mainwp commented on #99
The problem should be solved in version 4.0. If you can still reproduce the bug with the latest version, please feel free to open a [helpdesk ticket](https://mainwp.com/support/).

[2019-09-02 15:00] #99 closed

[2019-09-02 23:44] demyxco commented on #105
Done.

[2019-09-02 23:44] #105 closed

[2019-09-10 12:16] Px7-941 opened #108 "Wordpress Logout Button missing top right corner"
Is it possible to place the Wordpress Logout Button next to the MainWP Account Button in the head?

[2019-10-21 11:41] Xilonz commented on #96
I would love improvements to the CLI. Most important for me (to use with automated deployments) are:
wp mainwp site get --url="example.com"
wp mainwp site get --id="1"

wp mainwp site add
wp mainwp site update

and for all wp-cli to have the --format option to display json output.

Now I have to use the wp eval function for this, and that isn't great.

[2019-10-21 12:00] Xilonz opened #109 "DISALLOW_FILE_MODS should prevent sites from updating"
I would like sites with DISALLOW_FILE_MODS defined to be excluded from the update themes, plugins and core, but should still show as updates-available, just like intended in the WordPress core.

Due to #90 this is changed, but this looks like bad practice. If you want to prevent other users to install plugins and themes this should be handled with user roles instead.

I would love to hear your opi

[2019-11-22 09:11] 101Development opened #111 "jQuery live ist deprecated as of 1.7 and removed with 1.9"
MainWP uses jQuery live methods which are deprecated. They can be found in the file assets/js/mainwp.js. I just tried the plugin for the first time and some things were not working at all.

I replaced all the .live() methods with .on() and now its working as expected.

[2019-11-22 09:20] 101Development commented on #111
Ok my fault. I just realised we removed the jQuery Migrate script of our dev theme. We did this by default to reduce the weight of wordpress.

[2019-11-26 16:44] 0xTHMS opened #112 "MainWP > Sites > Manage Sites : CSS problem ? All rows are blank but child sites are in the HTML source."
Hi.

We are using MainWP Dashboard version 4.0.5 on Wordpress 5.3
The problem appeared before, when we were using Wordpress 5.2

When we go to the MainWP > Sites > Manage Sites view, the HTML table is empty, but if I look at the source code, I see that my child sites are here.

![2019-11-26-174002_1915x585_scrot](https://user-images.githubusercontent.com/7324626/69653637-d63fa480-1073-11ea-90c0-cd

[2019-11-26 16:46] bogdan-mainwp commented on #112
Hi @0xTHMS, I have never seen this issue. Can you please open a helpdesk ticket so we can check this out?

[2019-11-27 08:22] 0xTHMS commented on #112
Of course I did not know about an helpdesk.
I'm opening an issue.

[2019-11-27 08:44] 0xTHMS commented on #112
Issue opened.

[2019-11-27 08:44] #112 closed

[2020-01-15 01:37] binaryfire commented on #96
+1 for something like wp mainwp site add

We automate the deployment of new client sites, and being able to use the CLI to fully automate adding child sites would be awesome

[2020-01-15 01:41] binaryfire opened #113 "Use REST API instead of wp ajax for child site connectivity"
Hi guys,

Would it be possible to move from using wp ajax to custom REST API endpoints for child site connectivity / control? Would be a little faster and it would allow for much more modern authentication methods like JWT

I'm assuming all you'd need to do is build a custom REST API endpoint in the child plugin and implement authentication. The dashboard and extensions would only need some minor

[2020-01-15 02:44] kwcjr commented on #108
Issue closed for non-issue in v4

[2020-01-15 02:44] #108 closed

[2020-02-20 13:47] dennisdornon commented on #113
After talking to our team changing from WP AJAX to REST API is not something that we can do right now.

This would require full refactoring and we are not sure that we could keep all the functionality already baked in.

So for the time being we need to stay with AJAX.

If you are concerned about security with the current system, we believe that the OpenSSL encrypted communication along with the ad

[2020-02-20 13:47] #113 closed

[2020-03-04 14:28] #111 closed

[2020-03-04 16:41] bogdan-mainwp commented on #44
This issue is actually the MainWP Matomo Extension related. I am closing the issue here and opening internal ticket for the dev team.

[2020-03-04 16:41] #44 closed

[2020-03-04 16:46] bogdan-mainwp commented on #60
At the moment, MainWP supports only `FTPEXT` for `FS_METHOD`.

Feature suggestions can be submitted in the Features section of the [MainWP Community](https://meta.mainwp.com/).

[2020-03-04 16:46] #60 closed

[2020-03-04 16:48] bogdan-mainwp commented on #67
Hi @phalancs, I believe that this problem was solved in one of the earlier versions.

After reporting this problem, we released a whole new major point update that should solve this. If the problem still persists for you, please feel free to open a [helpdesk ticket](https://mainwp.com/my-account/get-support/).

Thanks

[2020-03-04 16:48] #67 closed

[2020-03-04 16:51] bogdan-mainwp commented on #72
Hi @pedro-mendonca, reported problems are solved with version 4 release.

For any further assistence, please feel free to open a [helpdesk ticket](https://mainwp.com/my-account/get-support/).

[2020-03-04 16:51] #72 closed

[2020-03-04 16:53] pedro-mendonca commented on #72
Thanks @bogdan-mainwp :)

[2020-03-04 16:55] bogdan-mainwp commented on #84
The problem appears to be resolved in one of the previous updates.

For any further assistance, please feel free to open a [helpdesk ticket](https://mainwp.com/my-account/get-support/).

[2020-03-04 16:55] #84 closed

[2020-03-04 16:55] bogdan-mainwp commented on #91
Resolved in version 4.

[2020-03-04 16:55] #91 closed

[2020-03-04 16:57] bogdan-mainwp commented on #73
Problem solved in version 4.0.

[2020-03-04 16:57] #73 closed

[2020-03-04 16:58] bogdan-mainwp commented on #98
Hi @soktherat, this problem should be solved in one of the previous versions.

For any further assistance, please feel free to open a [helpdesk ticket](https://mainwp.com/my-account/get-support/).

[2020-03-04 16:58] #98 closed

[2020-03-04 16:59] bogdan-mainwp commented on #100
Resolved in version 4

For any further assistance, please feel free to open a [helpdesk ticket](https://mainwp.com/my-account/get-support/).

[2020-03-04 16:59] #100 closed

[2020-03-04 17:02] bogdan-mainwp commented on #103
Hi @lesliechw, since we haven't heard anything about his problem and we can't duplicate it with the latest version of the AUM extension, we will consider this problem resolved.

For any further assistance, please feel free to ope a [helpdesk ticket](https://mainwp.com/my-account/get-support/).

[2020-03-04 17:02] #103 closed

[2020-03-04 17:48] bogdan-mainwp commented on #107
Both extensions have been fixed and new versions released.

For any further assistance, please feel free to open a [helpdesk ticket](https://mainwp.com/my-account/get-support/).

[2020-03-04 17:48] #107 closed

[2020-03-04 17:54] bogdan-mainwp commented on #109
Hi @Xilonz, thanks for reaching out to us and my sincerest apologies for the delay here.

I think that it might be best to submit your suggestion to the features section of the [MainWP Community](https://meta.mainwp.com/) forum so other users can join the discussion and support your idea.

Would that be ok?

[2020-03-07 23:58] maxwelljordanwhite opened #120 "The progress bar on the Running Sync Dashboard with Child Sites modal could use some spacing"
**Describe the bug**
Hi! Loving MainWP. This issue is purely cosmetic, but I think it'd lift the interface: The progress bar on the Running Sync Dashboard with Child Sites modal could use left and right spacing to align with the sites below it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your MainWP dashboard
2. Click on 'Sync Dashboard with Child Sites'
3. See error

**Expected be

[2020-03-09 14:42] bogdan-mainwp commented on #120
Hi @maxwelljordanwhite, thanks for reaching out and sending us your suggestion.

This actually is not a bug, it's by design and we prefer to keep it this way.

Have you checked the [MainWP Custom Dashboard Extension](https://mainwp.com/extension/mainwp-custom-dashboard-extension/)? It's a free extension that will allow you to make custom CSS changes to your MainWP Dashboard and customize it to you

[2020-03-09 14:45] maxwelljordanwhite commented on #120
Hey @bogdan-mainwp, thanks for the reply! Out of curiosity, why is that preferred? I'll hit up the MainWP Community for this sort of thing going forward. Thanks again!

[2020-03-15 15:52] #120 closed

[2020-03-15 18:51] Xilonz commented on #109
See https://meta.mainwp.com/t/prevent-updating-when-this-is-not-allowed/851
In that post I've explained everything more detailed.

[2020-04-17 09:13] pcfreak30 opened #257 "Site Import assumes use of return character"
When importing sites, `\MainWP_Manage_Sites_View::renderImportSites` runs `$lines = explode( "\r\n", $content ); // PHP_EOL` which assumes a windows formatted file. this is a bad assumption on compatibility with mac, windows and linux.

To convert all three should replace `\r\n` and then `\r` with `\n`, then split on that.

[2020-04-17 19:29] bogdan-mainwp commented on #257
Hi @pcfreak30, thanks for reporting this problem.

I will have our dev team check this as soon as possible.

[2020-04-25 18:51] planetahuevo commented on #96
For me adding a site would be the most important thing to do. Right now is a completely manual process.

[2020-04-29 00:09] binaryfire commented on #96
@bogdan-mainwp Can we get any traction on this? I'm a pro license holder and this is something my agency desperately needs. We automate everything nowadays and adding / removing to MainWP is one of the only things we can't script.

[2020-05-26 02:53] dev-masta opened #324 "Main Dashboard "Connection Status" Widget: Zero disconnected sites count in green color"
**Is your feature request related to a problem? Please describe.**
I didn't use MainWP in almost a year - good work!
The new styling is much better than the one I saw last time, but - my entire Dashboard is now white and green, except the Disconnected Sites count, which is 0, but still in red.

![image](https://user-images.githubusercontent.com/3306507/82855755-7899f100-9f0c-11ea-809d-7b3a68f0df3b

[2020-06-15 18:49] bogdan-mainwp commented on #324
Hi @dev-masta, thanks for opening this issue and reporting this problem. Our dev team tweaked this and the update will be released in the next version.

[2020-06-15 18:49] #324 closed

[2020-06-15 18:50] bogdan-mainwp commented on #257
The dev team tweaked this and the update will be released in the next version.

[2020-06-15 18:50] #257 closed

[2020-06-15 19:07] bogdan-mainwp commented on #96
Hi @binaryfire, at the moment, our dev team is pretty busy with projects that we have started and I don't have any kind of timeframe when we could dedicate some time for this. As I mentioned earlier, Pull Requests are more than welcome.

For official feature requests, you can join the [MainWP Community](https://meta.mainwp.com) and post your suggestions to the Features section.

[2020-06-15 19:08] bogdan-mainwp commented on #89
Code styling problems have been fixed and the next version 4.1 will contain the changes.

[2020-06-15 19:08] #89 closed

[2020-06-15 19:12] bogdan-mainwp commented on #86
Can you try to put the `mu-mainwp-child.php` to the `mu-plugins` and see how it goes.
[mu-mainwp-child.zip](https://github.com/mainwp/mainwp/files/4782412/mu-mainwp-child.zip)

[2020-06-20 12:53] maxwelljordanwhite opened #350 "Spelling and grammar issues during the initial setup of MainWP"
**Describe the bug**
2 typos during the initial setup of MainWP.

It might also make sense to have the copy include an "a" before "Unique Security ID"

**To Reproduce**
Steps to reproduce the behavior:

1. Install the MainWP plugin
2. Choose to run the quickstart
3. Add a site and you should see the typos (see the screenshot below)

**Expected behavior**
To be typo free :)

**Screenshots**
![4USLU

[2020-06-21 02:56] nkukard commented on #350
There is also a spelling mistake in README.md. "list of MainWP Exteperts" should be "list of MainWP Experts".

[2020-06-24 14:56] #350 closed

[2020-06-24 14:57] bogdan-mainwp commented on #350
Thanks for the report and the pull request. Fix will be included in the next release

[2020-09-21 15:10] Progressed36 opened #413 "mainwp_cronupdatescheck_action not running with cron/updatescheck.php"
**Describe the bug**
after update from the 14th the check updates on childs do not run any more. Im running a cronjob every 15 minutes
(/wp-content/plugins/mainwp/cron/updatescheck.php). last known run is the 17th because i manually checked. Running the URL manually isnt doing anything.

Check for available updates | mainwp_cronupdatescheck_action | Once every minute | September 17, 2020 06:11 | S

[2020-09-21 15:14] bogdan-mainwp commented on #413
Hi @Progressed36, can you please tell me do you have the MainWP Favorites Extension active on your MainWP Dashboard?

[2020-09-22 08:12] Progressed36 commented on #413
No i have not.

- Rocket Version 4.0.1
- Advanced Uptime Monitor Version 5.0.2.1
- Client Reports Version 4.0.5.1
- Code Snippets Version 4.0.1
- Sucuri Version 4.0.8.1
- Vulnerability Checker Version 4.0.3.1

[2020-10-02 12:22] Du-St commented on #68
Hello,

we are also facing this issue.

Our use case is:
- to allow site administrators to fully manage themes or plugins (install, update, delete) using "ssh" FS_METHOD (i.e. using the plugin SSH SFTP Updater Support), because FS_METHOD "direct" is not recommended by WP authors (https://wordpress.org/support/article/hardening-wordpress/ )
- to have the possibility manage sites by MainWP (in our c

[2020-10-07 11:16] bogdan-mainwp commented on #413
Hi @Progressed36, this issue should be resolved in the upcoming version. We are working on the Dashboard 4.1.2 version that should be out pretty soon. Let us know how it goes after you update your setup and retest the reported issue.

Thanks

[2020-10-08 11:54] bogdan-mainwp commented on #413
Hi @Progressed36, can you please verify if the version 4.1.2 that was released yesterday solves the problem?

[2020-10-08 17:26] Progressed36 commented on #413
I ran /wp-content/plugins/mainwp/cron/updatescheck.php and it indeed updated the last runtime of the script.

However, it did not detect updates and with 45 connected sites i think its not correct finding new updates. I will wait for the cron to run this night and i will keep you posted tommorow.

[2020-10-09 07:32] Progressed36 commented on #413
like i said. it updates the runtime but doesnt actually find new updates

[2020-10-13 06:54] Progressed36 commented on #413
Last update did work

MainWP Dashboard Version | 4.1.2.1

Ony thing left to fix is the daily digest. Every time it finds a new update it will send an email (to my spam even though im using authenticated email).

With a total score of 12 out of allowed 6 these are the biggest factors and rules it hits.

HACKED_WP_PHISHING (4.5)
BAYES_SPAM (5.1)

so its bassically the content thats triggering this.

[2020-10-13 07:20] Progressed36 commented on #413
Also, i see that its not showing every update. strangely enough i have some translation and plugin updates on  some sites and they dont come up. So finding updates seem randomly...

[2020-11-20 12:52] ramonfincken opened #453 "No alter tables for new columns"
**The bug**
Starting may 2020 you have added some new columns to the mainwp_wp table (git version of class/class-mainwp-install.php )
Currently we are at the latest code version but are missing those colums.

** Error log (censored) **
Got error 'PHP message: WordPress database error Unknown column 'disable_status_check' in 'field list' for query UPDATE sp_mainwp_wp SET url="https://censored.nl/",

[2020-11-20 12:54] ramonfincken commented on #453
Our query: show columns from sp_mainwp_wp

result:
`

id | int(11) | NO | PRI |   | auto_increment

userid | int(11) | NO | MUL |   |  

adminname | text | NO |   |   |  

name | text | NO |   |   |  

url | text | NO |   |   |  

pubkey | text | NO |   |   |  

privkey | text | NO |   |   |  

nossl | tinyint(1) | NO |   |   |  

nosslkey | text | NO |   |   |  

siteurl | text | NO |   |   |  

[2020-11-20 15:34] bogdan-mainwp commented on #453
Hi @ramonfincken, thanks for reachig out and reporting this problem.
I will have our dev team check this as soon as possible.

[2020-11-20 19:37] bogdan-mainwp commented on #413
The problem has been fixed and it will be released in the version 4.1.3

[2020-11-20 19:37] bogdan-mainwp commented on #453
The problem has been fixed and it will be released in the version 4.1.3

[2020-11-20 19:45] ramonfincken commented on #453
Excellent, may I see the commits?

[2020-12-08 14:34] dennisdornon commented on #96
More CLI commands have been added in version 4.1.3.  You can view them in the [KB](https://kb.mainwp.com/mainwp-wp-cli-commands/)

[2020-12-08 15:36] planetahuevo commented on #96
@dennisdornon I cannot find any command to connect a site.
without that, the whole wp cli is not that useful.
Do you want me to open another issue about that?

[2020-12-08 15:42] Xilonz commented on #96
And what about output formatting? Is that supported? We mainly use wp cli for automation and computers can't read... easily.

[2020-12-08 15:46] planetahuevo commented on #96
Yes.
I was wondering what is the response to `wp mainwp site --site-update-plugins <id> ` if the id is empty or wrong one.
How do we handle errors on our scripts if the docs do not provide any information on that?

[2020-12-08 16:01] bogdan-mainwp commented on #96
Hi @planetahuevo,

Regarding the command for adding a child site, we will look into this for the next update. Regarding responses, if you enter an invalid ID for commands where site ID is required, the following error message will be returned: **Site not found.**, if you forget to set ID, this: **Empty site id.**

Hi @Xilonz,

Can you please provide me more details about your requirement? I am not

[2020-12-08 16:07] planetahuevo commented on #96
Thank you @bogdan-mainwp
Does the old "mainwp plugin <id> --upgrade-all" commands still work or have they been deprecated?
Thanks

[2020-12-08 16:21] Xilonz commented on #96
@bogdan-mainwp if I'm not mistaken, the output of the cli command is not in a json format. Therefore it would not be usable for any CI/CD or integration  with other tools.

Example; if I want to do something with the site information, let's say the plugins installed on a site. The expected output of that command would be something like: `wp mainwp plugin --list --format=json`

[code]

[2020-12-08 16:25] bogdan-mainwp commented on #96
@planetahuevo, yes, the old command is still available.

@Xilonz, thanks for the details, I understand now. At the moment, the output format is not customizable, but I am adding this to our todo list. It will be added.

[2020-12-08 16:27] planetahuevo commented on #96
@bogdan-mainwp can you add the documentation of the old commands to the same page?
I would also want to report an issue with that one.
When id is missing on the old ones, it applies the command to all sites (it did a huge mess last week on my systems). That is the reason I asked with the new commands. :D

[2020-12-08 16:35] bogdan-mainwp commented on #96
@planetahuevo, thanks for reporting it, and my apologies for the inconvenience.

I will have our dev team review the old commands and make sure all work properly. Once that is done, we will add those to the documentation.

[2020-12-08 16:37] planetahuevo commented on #96
Fantastic.
No worries @bogdan-mainwp  I have put some checks in place myself so the variable is not empty anymore. :D
Thanks!

[2020-12-08 16:43] #413 closed

[2020-12-08 17:42] #86 closed

[2020-12-09 13:17] bogdan-mainwp commented on #453
Hi @ramonfincken,

My apologies for the small delay here.

The dev team verified that this problem was fixed by increasing the database version number, so there is no specific commit that we can tie to it.

[2020-12-09 13:17] #453 closed

[2020-12-14 13:36] kevinmrl opened #460 "primary keys are missing in some tables"
**Please give us a description of what happened.**
Our managed MySQL 8.0 database has the option sql_require_primary_key set to on. This means every table should have a primary key. Having this option switched on is required for MySQL replication and it is recommend by MySQL for efficiently finding and updating table rows.

**Please describe what you expected to happen and why.**
In the create tab

[2020-12-20 15:25] bogdan-mainwp commented on #460
Hi @kevinmrl,

thanks for reporting this. I will have our dev team check this as soon as possible.

[2020-12-28 14:08] bogdan-mainwp commented on #460
Hi Kevin,

I just got a notification from our dev team that this problem has been fixed. Fix will be included in the next official release.

[2020-12-29 07:33] kevinmrl commented on #460
Hi @bogdan-mainwp,

Glad to hear! Thank you guys. Can I ask when the next official release is planned? Thanks again.

[2021-01-08 09:33] Bitsky opened #462 "Missing group information"
**Describe the bug**
The API endpoint "Available Updates" does not contain any information about the group the listed sites belong to. If you use groups to assign e.g. maintenance duties, this information would help to send out alerts/notices from the monitoring.

**Expected behavior**
Include all groups per site in the returned JSON.

**Additional context**
I've looked into the "Site" endpoint to

[2021-01-08 09:45] Bitsky opened #463 "Add more summarizing endpoints"
**Is your feature request related to a problem? Please describe.**
Several endpoints are only available for individual sites, like Site HTTP Status, Site Health Score, Site Security Issues. It would be quite an improvment for performance if there would be a single API request to get the HTTP status codes for all sites, or health scores instead of looping over all available sites.

**Describe the s

[2021-01-11 09:46] kevinmrl commented on #460
Hi,

Any update on planned release, when to expect? Thank you

[2021-01-11 18:16] bogdan-mainwp commented on #460
Hi Kevin,

My apologies for the small delay here.

I don't have the exact date, but the release should be soon.

If you want, please feel free to [open a helpdesk ticket](https://mainwp.com/my-account/get-support/) and I can send you a pre-release version.

Thanks

[2021-01-17 21:11] nativeit opened #466 "New post deleted/disappeared after failing to post to child site."
**Describe the bug**
I created a new post for one of my child sites. The site appears healthy in the dashboard, and other operations such as updating plugins work without issue. When I selected the site for the new post, it successfully listed the existing categories, so I am positive that the child plugin is installed and operational otherwise. After hitting "Publish", I received an error that th

[2021-03-11 16:15] tobias992 opened #472 "BIG Bug after disconnect"
**Describe the bug**
solved. Look like i had to wait for next cronjob run (because i use server cronjob).

[2021-03-11 16:25] #472 closed

[2021-03-25 13:41] dtugend opened #477 "Basic Uptime Monitoring Email does not work until Email Notification settings are saved first time"
The mainwp_settings_notification_emails option is only created when the email settings are saved the first time.

The problem is that in the UI they are enabled by default, but the defaults are disabled then in [get_general_email_settings](https://github.com/mainwp/mainwp/blob/94644ea6095eb6b65f49cdc1a267beabae0343db/class/class-mainwp-notification-settings.php#L387)

[2021-03-25 14:28] bogdan-mainwp commented on #466
Hi @nativeit,

thanks for reaching out and my apologies for the delay in here. This is not our official support channel so reports can be missed easily.

I tried to duplicate this problem, but I couldn't.

Can you please check if you can duplicate this behavior with the latest MainWP plugin version and if yes, please feel ree to open a [helpdesk ticket](https://mainwp.com/my-account/get-support/)

[2021-03-25 14:28] #466 closed

[2021-03-25 14:29] bogdan-mainwp commented on #463
Hi @Bitsky,

thanks for submitting your suggestion.

Our dev team will check this asap.

Thanks

[2021-03-25 15:41] dtugend commented on #477
I now found the actual issue and edited the issue accordingly. (My guess earlier was wrong, sorry.)

[2021-03-25 15:42] bogdan-mainwp commented on #477
Hi @dtugend,

thanks for reaching out and reporting this.
I will have our dev team check this.

[2021-03-25 15:49] dtugend commented on #477
I don't want to waste your time, somehow it's still not sending the email, I don't know why, but I am still wrong, so closing until I found it for real, sorry.

[2021-03-25 15:58] dtugend commented on #477
I had the right idea: the problem is email_settings recipient is empty (which is used), until the settings are saved the first time.
So it sends to no one, unless sites have individual emails setup ($admin_email is not used, because it's called with default false):https://github.com/mainwp/mainwp/blob/94644ea6095eb6b65f49cdc1a267beabae0343db/class/class-mainwp-monitoring-handler.php#L270

[2021-03-25 16:31] dtugend opened #478 "Sites Monitoring: Individual intervals lower than global interval are not honored"
**Describe the bug**
The documentation (https://kb.mainwp.com/docs/sites-monitoring/) says:

However the actual implementation of the cron job cancels runs out according to the global setting:
https://github.com/mainwp/mainwp/blob/003e4a99b3775d7e23a1b7413f476bfa51975bf0/class/class-mainwp-system-cron-jobs.php#L1484

This means setting individual sites to a lower setting will not work as intended,

[2021-04-11 13:32] sunezapa opened #479 "Bug in MainWP "Basic Security Check" destroys DIVI Builder"
In Basic Security/Check for a website using Divi Theme (or just Divi Builder I assume),
the Divi editing funtionality is destroyed if the isssue "**Scripts and Stylesheets version information has been removed from URLs**" are fixed in MainWP.

My investigating (all plugins disable/enable etc) show that this single Fix do the catastrophe,
and is confirmed by FIXing and UNFIXing, to be sure, that it

[2021-04-20 17:22] bogdan-mainwp commented on #463
Added to version 4.1.6

[2021-04-20 17:22] #463 closed

[2021-04-20 17:23] bogdan-mainwp commented on #477
Fixed in 4.1.6

[2021-04-20 17:23] #477 closed

[2021-04-20 17:24] bogdan-mainwp commented on #479
Hi @sunezapa,

In version 4.1.6, we have removed the mentioned security check/fix so it should not cause issues any longer.

Thanks

[2021-04-20 17:24] #479 closed

[2021-04-20 17:25] bogdan-mainwp commented on #478
Hi @dtugend,

Thanks for reporting this. Our dev team will check this.

[2021-04-20 17:44] sunezapa commented on #479
Hello Bogdan,
thanks, nice, almost fixed,
I see it is partially fixed, BUT:

The dashboard still mention (actual) 3 issues
     [image: image.png]
even the 4.1.6 version did remove the actual fix.

Similar, if I click DETAILS for a website, I see only green checks,
but the dashboard - and the "details" still shows "3 issues" (same issue
for the 3 websites using Divi),
and the website status also h

[2021-06-01 06:23] contactashish13 opened #490 "Filter mainwp_sitestable_item does not include the name of the column being displayed"
**Describe the bug**
The example given [here](https://mainwp.dev/hooks/mainwp_sitestable_getcolumns/) adds only 1 column. If I want to add 2 columns I am not aware of which column I'm currently processing because the `$item` parameter in the filter `mainwp_sitestable_item` does not contain the name of the column that was added using the filter `mainwp_sitestable_getcolumns`.

**To Reproduce**
Step

[2022-01-12 22:27] LukaszJaro opened #518 "Can't find a way to enable gutenberg block editor"
Hi,

Using this plugin for the first time, looks very impressive. I just was wondering why the classic editor is still being used? This doesn't align well with my sites we are using the block editor.

In fact the mainwp site seems to encourage classic editor usage?

[2022-01-13 20:04] bogdan-mainwp commented on #518
Hi @LukaszJaro,

At the moment, MainWP supports only the Classic Editor.

[2022-01-14 14:47] #518 closed

[2022-01-14 14:57] LukaszJaro commented on #518
Thanks, that is very unfortunate!

[2022-01-14 18:48] bogdan-mainwp commented on #490
Hi @contactashish13,

thanks for pointing out this problem. It's now fixed in commit [f85afc9](https://github.com/mainwp/mainwp/commit/f85afc90394a3bc01e9197d273187e44bc8d29ee)

[2022-01-14 18:48] #490 closed

[2022-04-08 19:38] LukaszJaro opened #542 "Can't see multilingual posts in mainwp dashboard"
Is polylang supported or only default language displays? Currently the post list retrieved shows all English posts but I can't see any other language.

[2022-04-08 19:41] LukaszJaro commented on #542
Will ask in plugin support thread instead.

[2022-04-08 19:41] #542 closed

[2022-04-13 08:35] FeIix opened #543 "Github login on MainWP Community broken"
Hi,
It seems that the "Login with Github" button on the MainWP Community website isn't working since today,

I have this error : "Sorry, there was an error authorizing your account. Please try again."

[2022-04-13 11:22] bogdan-mainwp commented on #543
Hi Felix,

it could be that the problem is caused by switching meta.mainwp.com to managers.mainwp.com

Can you please try a different browser and clear all cache and try again?

[2022-04-13 11:49] bogdan-mainwp commented on #543
Ok, verified that there was a problem in settings and now it's fixed.

[2022-04-13 11:49] #543 closed

[2022-04-13 13:24] FeIix commented on #543
I confirm it's working again  👍

[2022-04-13 13:26] bogdan-mainwp commented on #478
Problem has been resolved and the fix is scheduled for version 4.2.1

[2022-04-13 13:26] #478 closed

[2022-06-02 14:38] maximejobin opened #557 "Undefined index in CLI when calling site info"
When you request info using CLI, you get this if the site's data does not exist:
![image](https://user-images.githubusercontent.com/1080760/171654090-477c83e5-510b-4ed4-bbc3-2b0654f9a270.png)

From this function:
https://github.com/mainwp/mainwp/blob/master/class/class-mainwp-wp-cli-handle.php#L467

To fix, there should be an `if` to check if variables are defined before displaying them.

[2022-07-13 15:05] bogdan-mainwp commented on #557
Hi @maximejobin,

thanks for reaching out and reporting this.
Our dev team fixed this problem and the fix will be included in the version 4.2.6.

[2022-07-13 15:05] #557 closed

[2022-07-13 15:10] #68 closed

[2022-07-13 15:11] bogdan-mainwp commented on #109
Fixed in on of previous vesions.

[2022-07-13 15:15] bogdan-mainwp commented on #96
All further requests, please submit to the [MainWP Feedback](https://feedback.mainwp.com/).

[2022-07-13 15:15] #96 closed

[2022-07-13 15:22] planetahuevo commented on #96
I do not see the point to be honest.
I asked about the old commands in 2020 and years before that (via ticket).
So I am sorry but I do not feel like investing more time reporting stuff to be ignored, and for sure I won´t be creating a new account on another website for that.

[2022-09-21 08:58] keeslamper opened #572 "Feature request: Differentiate between minor and major updates"
Hi y'all,

I've been using mainWP for as long as I can remember, but I keep having one issue with the dashboard:

When I am bulk updating plugins for my support customers, sometimes major releases of plugins or themes break the code we make for the sites. Is it possible to add some sort of filter that can show only minor / major updates OSLT?

Is this a feature already or is this on a future to do

[2022-09-21 12:25] bogdan-mainwp commented on #572
Hi @keeslamper,

Thank you for reaching out. Please feel free to post your feature requests to the [MainWP Feedback](https://feedback.mainwp.com).

Thanks!

[2022-09-30 00:19] bfcmaintenance opened #575 "`wp mainwp updates --available updates` doesn't excluded per-site ignored plugin"
**Describe the bug**
`wp mainwp updates --available updates` doesn't excluded per-site ignored plugin.

**To Reproduce**
Steps to reproduce the behavior:
1. go to sites > site overview > updates
2. ignore an update
3. in a terminal, type `wp mainwp updates --available-updates`

**Expected behavior**
the ignored plugin should not be listed

**Screenshots**
<img width="1171" alt="Screen Shot 2022-09

[2022-09-30 01:07] bfcmaintenance opened #576 "cannot ignore plugin updates through the plugins menu"
i get different behavior when i ignore a plugin via these two methods:

### working
`Updates > [click a plugin] > Ignore Update (not ignore globally)`
<img width="548" alt="Screen Shot 2022-09-29 at 8 52 52 PM" src="https://user-images.githubusercontent.com/84864181/193167593-02700022-0e5c-4823-ae9b-55690f475be3.png">

this succeeds in ignoring the update (though [not in the cli](https://github.co

[2022-10-12 21:14] bfcmaintenance opened #578 "`wp mainwp theme [<websiteid>] --list` doesn't work"
**Describe the bug**
`wp mainwp theme [<websiteid>] --list` returns an empty table

**To Reproduce**
Steps to reproduce the behavior:
1. type `wp mainwp theme --list-all` and observe that it works
2. type `wp mainwp theme [<websiteid>] --list` into the terminal and observe that it doesn't

**Screenshots**
[code]
[code]